@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import "variables";
@import "header";
@import "banner";
@import "modules";
@import "interior";
@import "cars";
@import "exterior";
@import "footer";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  // * Resimin arka planında bir beyazlık mevcuttu bunu  mix-blend-mode: darken ile hallettik. Bu sayede resimin kapsayıcısının arka plan rengi neyse resimde buna göre kendini ayarlar.
  mix-blend-mode: darken;
}
body {
  font-family: $main-font;
  background-color: $bg-color;
}
